.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#welcome-page{
  background-color: #4cb944;
  width: 100%;
  height: 100vh;

}

form {
  position: absolute;
  margin-top: 30%;
  margin-left: 32%;
}

#user-name {
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width:500px
}

form > button {
  background-color: #138f0a;
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 50%;
  font-size: larger;
}

#info-page{
  background-color: #BB7E5D;
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
}

#info-page > h1 {
  position: absolute;
}
#info-page > nav > button {
  background-color: #8b5538;
  border: 0;
  border-radius: 25%;
  margin: 1em;
  height: 2em;
}

#about-page{
  background-color: #B0d0d3;
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

#about-page > h1 {
  position: absolute;
}

#nav-to-about{
  position: absolute;
  left: 45%;
  bottom: 0px;
  background-color: #138f0a;
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 25%;
  font-size: larger;
}

#home-logo {
  position: absolute;
  margin-left: 29%;
}

.list-card {
  background-color: #FFFFFF;
  border-radius: 1em;
  border: 0px;
}

.list-item {
  border: 5px;
  border-color: grey;
  margin: .5em;
}

ul {
  list-style-type: none;
}

#new-lesson-form {
  position: relative;
  margin:auto
}

#sign-up-lesson {
  position: relative;
  margin:auto
}
