/* Quick ref color -
white
#4CB944 green
#b0d033 light blue
#2f2f2f dark grey
#bb7e5d brown */

.App {
  text-align: center;
}

body {
  background: url(https://c4.wallpaperflare.com/wallpaper/632/226/393/dog-backgrounds-for-desktop-hd-backgrounds-wallpaper-preview.jpg);
  /* background-color: #FFFFFF; */
  background-size: cover;
  background-attachment: fixed;
}

#welcome-page {
  background-color: #4cb944;
  background-size: cover;
  background-attachment: fixed;
}

/* form {
  position: absolute;
  margin-top: 30%;
  margin-left: 32%;
} */

#info-page {
  /* background-color: #B0D0D3; */
  /* /////////REMOVE THIS COLOR//////////// */
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

#about-page>h1 {
  position: absolute;
}

#nav-to-about {
  position: absolute;
  left: 45%;
  bottom: 0px;
  background-color: #4cb944;
  color: white;
  height: 40px;
  width: 100px;
  border: 0;
  border-radius: 25%;
  font-size: larger;
}

#home-logo {
  position: absolute;
  margin-left: 29%;
}

ul {
  list-style-type: none;
}

#new-lesson-form {
  position: relative;
  margin: auto
}

#sign-up-lesson {
  position: relative;
  margin: auto
}










/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#user-name {
  border-radius: 5px;
  border: 0px;
  height: 40px;
  width: 500px
}

form>button {
  background-color: #138f0a;
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 50%;
  font-size: larger;
}

#info-page>h1 {
  position: absolute;
}

#info-page>nav>button {
  background-color: #8b5538;
  border: 0;
  border-radius: 25%;
  margin: 1em;
  height: 2em;
}

#about-page {
  background-color: #B0d0d3;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.list-card {
  background-color: #FFFFFF;
  border-radius: 1em;
  border: 0px;
}

.list-item {
  border: 5px;
  border-color: grey;
  margin: .5em;
} */